* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: Poppins, sans-serif;
    background-color: #1f2122;
}
a {
    text-decoration: none;
}
.main {
    width: 100%;
    background-color: #1f2122;
    height: auto;
}
.container {
    width: 82%;
    display: flex;
    margin: 0px auto;
    background-color: #1f2122;
    padding: 10px;
    padding-bottom: 10px;
}
.sub1 {
    width: 25%;
}
.sub2 {
    width: 25%;
    display: flex;
    position: relative;
}
.sub3 {
    width: 50%;
}
input[type="text"] {
    background-color: #27292a;
    text-align: center;
    height: 45px;
    margin: 0px auto;
    border-radius: 30px;
    width: 235px;
    font-size: 15px;
    border: 1px solid #27292a;
    color: #fff;
    margin-top: 23px;
}
.fa-search {
    color: #fff;
    opacity: 0.5;
}
.search-icon {
    display: block;
    position: absolute;
    top: 40px;
    left: 30px;
}
.logo {
    padding:20px 0px;
    margin-left: -10px;
}
div.sub3 ul {
    list-style-type: none;
    display: inline-flex;
    float: right;
}
div.sub3 ul li {
    margin: 12px;
    margin-top: 20px;
    padding: 15px;
}
div.sub3 ul li a {
    color: #656565;
    text-decoration: none;
    font-size: 14px;
}
div.sub3 ul li a:hover {
    color: #d75985;
    transition: 1s;
}
div.sub3 ul li a.active {
    color: #d75985;
}
div.sub3 ul li a.active:hover {
    color: #fff;
}
.profile {
    background-color: #27292a;  
    border-radius: 25px;
}
.profile:hover {  
    background-color: #d75985;
}
div.sub3 ul li a.profile-hover:hover {
    color: #fff;
}
.profile-img {
    width: 15px;
    height: 15px;
    border-radius: 7.5px;
    margin-left: 8px;
}
.container2 {
    width: 82%;
    margin: 0px auto;
    background-color: #27292a;
    padding: 10px;
    border-radius: 15px;
    padding-bottom: 60px;
}
.profile_main {
    border-radius: 15px;
    width: 92%;
    margin: 0 auto;
    margin-top: 45px;
    padding-bottom: 35px;
    background-color: #1f2122;
}
.profile_wrapper {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(101, 101, 101, 0.3);
}
.profile_img {
    width: 32%;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 15px;
    min-height: 355px;
    background-image: url("https://technext.github.io/cyborg/assets/images/profile.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}
.alen_smithee {
    width: 31.5%;
    margin-top: 30px;
    margin-bottom: 30px;
}
.about_profile {
    background-color: #27292a;
    width: 32%;
    margin-top: 75px;
    margin-bottom: 30px;
    border-radius: 15px;
    max-height: 270px;
}
.offline_btn {
    font-size: 14px;
    color: #fff;
    background-color: #d75985;
    text-align: center;
    padding: 10px 10px;
    border-radius: 20px;
    border: none;
    margin-top: 58px;
    width: 85px;
    letter-spacing: 1px;
    cursor: pointer;
}
.offline_btn:hover {
    color: #d75985;
    background-color: #fff;
}
.name {
    font-size: 24px;
    color: #fff;
    margin-top: 15px;
}
.para {
    font-size: 15px;
    color: #656565;
    line-height: 1.8;
    margin-top: 25px;
}
.stream_btn {
    width: 185px;
    margin-top: 30px;
    border-radius: 25px;
    font-size: 14px;
    text-align: center;
    color: #d75985;
    border: 1px solid #d75985;
    padding: 15px;
    background-color: #1f2122;
    cursor: pointer;
}
.stream_btn:hover {
    background-color: #fff;
    border: none;
}
.games_downloaded {
    width: 82%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(101, 101, 101, 0.8);
}
.margin {
    margin-top: 10px;
}
.title {
    color: #656565;
    font-size: 14px;
    padding-top: 22px;
    padding-bottom: 22px;
}
.number {
    color: #d75985;
    font-size: 14px;
    padding-top: 22px;
    padding-bottom: 22px;
    font-weight: bold;
}
.border-bottom {
    border-bottom: none;
}
.color {
    color: #d75985;
}
.heading {
    color: #fff;
    font-size: 34px;
    font-weight: 700;
    margin-top: 35px;
    margin-left: 30px;
    padding-bottom: 20px;
}
.inner {
    background-color: #27292a;
    width: 23.5%;
    border-radius: 15px;
}
.inner_image {
    width: 90%;
    margin: 0 auto;
    border-radius: 15px;
    margin-top: 30px;
    min-height: 175px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.img_first {
    background-image: url("https://technext.github.io/cyborg/assets/images/clip-01.jpg");
}
.img_second {
    background-image: url("https://technext.github.io/cyborg/assets/images/clip-02.jpg");
}
.img_third {
    background-image: url("https://technext.github.io/cyborg/assets/images/clip-03.jpg");
}
.img_fourth {
    background-image: url("https://technext.github.io/cyborg/assets/images/clip-04.jpg");
}
.image_subheading {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: #fff;
}
.first_clip {
    padding: 20px 0px 30px;
    font-size: 15px;
    font-weight: bold;
}
.fa-eye {
    color: #d75985;
    font-size: 14px;
    padding: 20px 0px 30px;
}
.view {
    font-size: 14px;
}
.fa-circle-play {
    font-size: 35px;
    margin-top: 75px;
    margin-left: 50%;
    transform: translate(-50%,0%);
    color: #fff;
}
.btn2 {
    width: 180px;
    font-size: 14px;
    color: #fff;
    background-color: #d75985;
    border-radius: 25px;
    padding: 15px 20px;
    margin-top: 40px;
    margin-left: 50%;
    transform: translate(-50%,0);
    border: none;
    letter-spacing: 1px;
    cursor: pointer;
}
.btn2:hover {
    color: #d75985;
    background-color: #fff;
}
.main_top {
    margin-top: 60px;
}
.library_main {
    width: 95%;
    margin: 0 auto;
    display: flex;
    border-bottom: 1px solid rgba(101, 101, 101, 0.3);
}
.game_heading {
    color: #fff;
    padding-top: 30px;
    margin-left: 30px;
    font-size: 34px;
    font-size: 700;
    padding-bottom: 15px;
}
.inner1 {
    width: 7.5%;
    height: 70px;
    border-radius: 20px;
    margin-top: 20px;
    min-height: 80px;
    margin-bottom: 20px;
}
.inner_img1 {
    background-image: url("https://technext.github.io/cyborg/assets/images/game-01.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}
.inner_img2 {
    background-image: url("https://technext.github.io/cyborg/assets/images/game-02.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}
.inner_img3 {
    background-image: url("https://technext.github.io/cyborg/assets/images/game-03.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}
.inner2, .inner3, .inner4, .inner5 {
    width: 17.5%;
}
.inner2 p, .inner3 p, .inner4 p, .inner5 p {
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.8;
    margin-top: 35px;
    margin-left: 30px;
}
.sandbox {
    color: #656565;
    font-weight: normal;
}
.inner6 {
    width: 22.5%;
}
.btn3 {
    width: 160px;
    font-size: 14px;
    letter-spacing: 1px;
    color: #656565;
    padding: 15px 20px;
    margin-left: 35px;
    border-radius: 25px;
    border: 1px solid #656565;
    margin-top: 30px;
    background-color: transparent;
    cursor: pointer;
}
.btn3:hover {
    color: #d75985;
    border: 1px solid #d75985;
}
.padding_bottom {
    padding-bottom: 10px;
}
.footer {
    width: 100%;
    margin: 10px auto;
}
div.footer p {
    color: #fff;
    font-size: 15px;
    text-align: center;
    margin: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    line-height: 2.5;
}
div.footer p a {
    color: #fff;
    text-decoration: none;
}
div.footer p a:hover {
    color: #d75985;
}
